@font-face {
  font-family: "AvenirPro-regular";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-medium";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
  /* You may include additional font properties if needed */
}

@font-face {
  font-family: "AvenirPro-bold";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Bold.otf")
    format("opentype");
  /* You may include additional font properties if needed */
}

@font-face {
  font-family: "AvenirPro-demi";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Demi.otf")
    format("opentype");
  /* You may include additional font properties if needed */
}

.main {
  /* height: 100vh; */
  max-width: 375px;
  margin: auto;
  /* position: relative; */
  overflow: auto;
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
  /* background: #0d0d0d; */
  background-color: #0d0d0d;
}

.noScroll {
  overflow: hidden;
}

.main_cover {
  /* height: 100%; */
  height: 100vh;
  max-width: 375px;
  margin: auto;
  color: #fff;
  background-color: #0d0d0d;
}

.main::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

#banner {
  max-width: 375px;
  height: auto;
  /* position: sticky;
      top: 0; */
}

.container_div {
  padding: 20px;
  font-family: "AvenirPro-regular";
  background-color: #0d0d0d;
}

.form_title {
  font-size: 20px;
  line-height: 30px;
  font-family: "AvenirPro-regular";
}

.network_name {
  font-weight: 600;
  font-family: "AvenirPro-medium";
}

.indicator {
  color: #e72d38;
  font-size: 12px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 20px;
}

.inner_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 38px;
}

.oops {
  color: #e72d38;
  margin-top: 30px;
  font-size: 22px;
  font-weight: 500;
  font-family: "AvenirPro-medium";
}

.msg {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  font-family: "AvenirPro-regular";
}

.download {
  background: #e72d38;
  padding: 8.5px 28.5px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  cursor: pointer;
  font-family: "AvenirPro-regular";
}

.clear_form {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #e72d38;
  margin-bottom: 25px;
}

.bottom_div {
  height: 80px;

  background: #0d0d0d;
  /* position: absolute; */
  bottom: 0;
  max-width: 375px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* left: 50%;
    transform: translateX(-50%); */
}

.submit_btn {
  background-color: #e72d38;
  /* margin: 20px; */
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 0 20px; */
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.input_lable {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.imp {
  color: #e6525c;
}

.error_message {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #e72d38;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  font-family: "AvenirPro-medium";
  font-size: 16px;
}

.headerTitle {
  font-size: 16px;
  font-family: "AvenirPro-medium";
}

.bannerWrapper {
  width: 100%;
}

.bannerImage {
  width: 100%;
  height: 445px;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.eventTitle {
  font-size: 36px;
  font-family: "AvenirPro-medium";
  margin-bottom: 24px;
  margin-top: 10px;
}

.eventDescription {
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 24px;
  font-family: "AvenirPro-regular";
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 12px;
  color: #e6e6e6;
  font-family: "AvenirPro-medium";
}

.sectionTitle {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "AvenirPro-demi";
  color: #777777;
}

.speakerRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.speakerImage {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #cccccc;
}

.speakerName {
  font-size: 16px;
  font-family: "AvenirPro-medium";
}

.speakerDesc {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  color: #ffffff;
  font-family: "AvenirPro-regular";
}

.linkRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  color: #147bff;
}

.linkRow a {
  color: #2f80ed;
  font-size: 14px;
  text-decoration: none;
}

.attendText {
  font-size: 14px;
  display: block;
  /* margin-bottom: 120px; spacing for bottom button */
  font-family: "AvenirPro-medium";
  text-decoration: none;
}

.hrefLink {
  display: block;
  max-width: fit-content;
}

.hrefLink span{
    font-size: 14px;
    font-family: "AvenirPro-demi";
    margin-left: 4px;

}

/* .attendText {
    display: block;      
    margin-top: 8px;     
    font-size: 16px;
    color: #e72d38;
    text-decoration: none;
} */

.bottomCTA {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  max-width: 375px;
  /* background-color: #0d0d0d; */
  text-align: center;
  padding: 18px;
  font-size: 18px;
  font-family: "AvenirPro-medium";
  color: #e72d38;
  /* border-top: 1px solid #1f1f1f; */
  /* cursor: pointer; */
}

@media (max-width: 500px) {
  .main {
    max-width: 100%;
  }
  .main_cover {
    max-width: 100%;
  }

  #banner {
    max-width: 500px;
    width: 100%;
  }

  .bottom_div {
    max-width: 500px;
    width: 100%;
  }
}
